.grid {
  display: grid;
  height: 100%;
  grid-template:
    "header header header "
    "menu content content"
    "menu content content"
    "footer footer footer";
  grid-template-rows: 3rem 1fr 1fr 3rem;
  grid-template-columns: minmax(10rem, 15rem) 1fr 1fr;

  &__header {
    grid-area: header;
    background-color: silver;
  }
  &__menu {
    grid-area: menu;
    display: flex;
    margin: 0.5rem;
    border: 2px black solid;
    border-radius: 15px;
    padding: 0.5rem;
    flex-direction: column;
    font-weight: 600;
    font-size: large;
    > div {
      background-color: #48b54c;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
      border-radius: 20px;
    }
  }
  &__content {
    grid-area: content;
    overflow: auto;
  }
  &__footer {
    grid-area: footer;
    background: rgb(0, 212, 255);
    background: linear-gradient(
      90deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(81, 81, 255, 1) 88%,
      rgba(26, 13, 255, 1) 100%
    );
  }
}

.cursor-pointer {
  cursor: pointer;
}
