.grid {
  display: grid;
  height: 100%;
  grid-template:
    "header header header "
    "menu content content"
    "menu content content"
    "footer footer footer";
  grid-template-rows: 3rem 1fr 1fr 3rem;
  grid-template-columns: minmax(10rem, 15rem) 1fr 1fr;

  &__header {
    grid-area: header;
    background: rgb(138, 198, 116);
    background: linear-gradient(
      90deg,
      rgba(138, 198, 116, 1) 0%,
      rgba(88, 201, 21, 1) 100%
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
  }
  &__menu {
    grid-area: menu;
    display: flex;
    border: 2px black solid;
    border-left: none;
    border-radius: 0 15px 15px 0;
    padding: 0.5rem;
    flex-direction: column;
    font-weight: 600;
    font-size: large;
    > div {
      background-color: #48b54c;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
      border-radius: 20px;
    }
  }
  &__content {
    grid-area: content;
    overflow: auto;
  }
  &__footer {
    grid-area: footer;
    background: rgb(138, 198, 116);
    background: linear-gradient(
      90deg,
      rgb(116, 189, 90) 0%,
      rgba(88, 201, 21, 1) 100%
    );
  }
}

.cursor-pointer {
  cursor: pointer;
}

.button {
  align-items: flex-end;
  width: auto;
  height: 2rem;
  background-color: #48b54c;
  border-radius: 5px;
  border: black 1px solid;
  cursor: pointer;
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 36px;
  height: 24px;
  span {
    background-color: black;
    width: 24px;
    height: 3px;
  }
}
